* {
    margin: 0;
    padding: 0;
    /*border: 1px dashed red; */
    font-family: var(--text-font-family, sans-serif);
}

body {
    position: relative;
    --sidebar-color: #202020;
    --main-body-color: lightgray;
    --text-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     --svg-color-change: invert(100%) sepia(0%) saturate(3977%) hue-rotate(307deg) brightness(129%) contrast(110%);
     --svg-color-hover-change: invert(90%) sepia(13%) saturate(1350%) hue-rotate(59deg) brightness(97%) contrast(91%);
     --search-color-change: invert(78%) sepia(8%) saturate(2782%) hue-rotate(156deg) brightness(99%) contrast(109%);
     background-color: var(--main-body-color, lightgray);
     --svg-profile-pic-color: invert(38%) sepia(59%) saturate(1511%) hue-rotate(305deg) brightness(100%) contrast(93%);
     --button-color: #ffae42;
     --sidebar-second-color: #797EF6;
     --sidebar-third-color: #4ADEDE;
     --svg-color-of-btn: invert(61%) sepia(83%) saturate(369%) hue-rotate(350deg) brightness(103%) contrast(101%);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: .75fr 3.5fr;
    grid-template-rows: 1fr 3fr;

}


.sidebar {
    position: relative;
    display: flex;
    position: relative;
    top: 0;
    grid-column: 1;
    grid-row: 1 / 3;
    background-image: linear-gradient(to bottom right, black, var(--sidebar-second-color, blue));
}


.icons:hover {
    color: var(--button-color, lightgreen);
    cursor: pointer;
    transform: scale(1.05);
    font-weight: bold;
}

.svg:hover {
    filter: var(--svg-color-hover-change, lightgreen);
    cursor: pointer;
}

.sidebar-element-container {
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 150px;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.sidebar-element-container p {
    color: white;
}

.top-sidebar-element {
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.top-sidebar-element img {
    width: 32px;
    height: 32px;
    justify-self: center;
    filter: var(--svg-color-change, white);
}

.chang {
    padding-left: 3px;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: .6em;
}

.mid-sidebar-element {
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    font-size: .8em;
    letter-spacing: 2px;
}

.mid-sidebar-element img {
    width: 20px;
    height: 20px;
    justify-self: center;
    filter: var(--svg-color-change, white);
}

.bottom-sidebar-element {
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    font-size: .8em;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.bottom-sidebar-element img {
    width: 20px;
    height: 20px;
    justify-self: center;
    filter: var(--svg-color-change, white);
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1.65fr 1fr;
    background-color: white;
    box-shadow: 0px 2px 20px 0px black;
    margin-bottom: 10px;
}
.left-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .8fr 1fr;
}
.left-top-header {
    display: grid;
    grid-template-columns: 1fr 5fr;

    align-items: center;
    gap: 10px;
}

.left-top-header img {
    height: 26px;
    width: 26px;
    justify-self: flex-end;
}

.left-top-header img:hover {
    transform: scale(1.2);
    filter: var(--search-color-change, blue);
}

#search {
    height: 20px;
    width: 350px;
    justify-self: start;
    border-radius: 10px;
    border-color: black;
    padding-left: 5px;
}



.left-bottom-header {
    display: grid;
    grid-template-columns: .8fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.left-bottom-header img {
    height: 70px;
    width: 70px;
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;
    margin-right: 10px;
    filter: var(--svg-profile-pic-color, gray);
}

.profile-pic:hover, 
.user-photo:hover {
    transform: scale(1.05);
}

.hi{
    align-self: end;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-hello {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
}

.user-hello:hover, 
.top-name:hover{
    color: #63e5ff;
    transform: scale(1.01);
    cursor: pointer;
}

.right {
    display: grid;
    grid-template: .8fr 1fr / repeat(3, 1fr);
    align-items: center;
    padding-right: 25px;
    gap: 10px;
}

.bell {
    height: 20px;
    width: 20px;
    justify-self: end;
}

.bell:hover {
    transform: scale(1.2);
    filter: invert(61%) sepia(83%) saturate(369%) hue-rotate(350deg) brightness(103%) contrast(101%);;
}

.user-photo {
    height: 40px;
    width: 40px;
    justify-self: center;
    filter: var(--svg-profile-pic-color);
}

.top-name {
    justify-self: start;
    font-weight: bold;
    font-size: 12px;
}

button {
    padding: 5px 0px 5px 0px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: var(--main-body-color, lightgray);
}

button:hover {
    transform: scale(1.05);
    border-color: aqua;
    background-color: var(--button-color, orange);
}
.main-body {
    height: 100%;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .5fr repeat(3, 3fr);
    margin-bottom: 10px;
}

.main-div {
    position: relative;
    display: grid;
    align-self: center;
    justify-self: center;
    height: 130px;
    width: 270px;
    background-color: black;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.0);
}

.click-me {
    position: absolute;
    top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    height: 130px;
    width: 270px;
    border-radius: 10px;
}

.click-me:hover {
    background: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.main-div img {
    display: block;
    max-width: 270px;
    max-height: 130px;
    width: auto;
    height: auto;
}

.small {
    display: block;
    max-width: 270px;
    max-height: 130px;
    width: auto;
    height: auto;
}

.main-div:hover {
    border: 2px solid #ffae42;
    transform: scale(1.05);

}

.left-main-para {
    align-self: center;
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: 5px;
    margin-left: 65px;
}
.first{
    grid-column: 1;
    grid-row: 2;
}

.second {
    grid-column: 2;
    grid-row: 2;
    margin-right: 70px;
}

.third {
    grid-column: 1;
    grid-row: 3;
}

.fourth {
    grid-column: 2;
    grid-row: 3;
    margin-right: 70px;
}

.fifth {
    grid-column: 1;
    grid-row: 4;
}

.sixth {
    grid-column: 2;
    grid-row: 4;
    margin-right: 70px;
}

.main-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr .5fr 3fr;
    margin-bottom: 20px;
}

.right-div {
    position: relative;
    display: grid;
    height: 210px;
    width: 180px;
    background-color: black;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.0);
}

.right-div img {
    display: block;
    max-width: 180px;
    max-height: 210px;
    width: auto;
    height: auto;
}

.c-two {
    position: absolute;
    top: 0;
    align-self: center;
    justify-self: center;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 210px;
    width: 180px;
}

.right-div:hover {
    transform: scale(1.03);
    border: 1px solid #ffae42;
}

.right-main-div {
    grid-column: 1;
    grid-row: 2;
}

.right-bottom-main-div {
    grid-column: 1;
    grid-row: 4;
}

.right-para {
    align-self: center;
}