* {
    margin: 0;
    padding: 0;
    border: 1px dashed red;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: .75fr 3.5fr;
    grid-template-rows: 1fr 3.5fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: aqua;
}

.sidebar-element-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    gap: 20px;
    width: 100%;
    height: 450px;
    border: 1px solid black;
}

.top-sidebar-element {
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.mid-sidebar-element {
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
}

.bottom-sidebar-element {
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
}

.header {
    grid-column: 2;
    grid-row: 1;
    background-color: yellow;
}

.main-body {
    grid-column: 2;
    grid-row: 2;
    background-color: bisque;

}